$max-width: 1200px;
$primary-color: #ff00ff;
$dark-color: #800080;
$light-color: #d580ff;
$medium-color: #9538f2;
$icon-color: #090126;
$secondary-color: #9f2cbf;
$three-color: #f2aeee;
$four-color: #a0bed9;
$five-color: #9a5bd9;
$six-color: #a62177;
$seven-color: #395273;
$bg-color: #b9a6df;
$bg-image: url("/promohup/img/resim38.jpg");
