* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
}
.container-header {
  height: 100vh;
  width: 100%;
  background: radial-gradient(
        rgba(255, 225, 255, 0.2) 0%,
        rgba(200, 150, 255, 0.5) 30%,
        rgba(240, 200, 255, 0.6) 32%,
        rgba(255, 225, 255, 0) 33%
      )
      0 0,
    radial-gradient(
        rgba(255, 220, 255, 0.1) 0%,
        rgba(230, 150, 255, 0.4) 11%,
        rgba(240, 200, 255, 0.5) 13%,
        rgba(255, 225, 255, 0) 14%
      )
      0 0,
    radial-gradient(
        rgba(255, 210, 255, 0.15) 0%,
        rgba(220, 100, 240, 0.6) 17%,
        rgba(255, 200, 255, 0.8) 19%,
        rgba(255, 225, 255, 0) 20%
      )
      0 110px,
    radial-gradient(
        rgba(255, 210, 255, 0.2) 0%,
        rgba(210, 80, 220, 0.6) 11%,
        rgba(240, 200, 255, 0.8) 13%,
        rgba(255, 225, 255, 0) 14%
      ) -130px -170px,
    radial-gradient(
        rgba(255, 230, 255, 0.3) 0%,
        rgba(200, 100, 240, 0.7) 11%,
        rgba(240, 220, 255, 0.8) 13%,
        rgba(255, 230, 255, 0) 14%
      )
      130px 370px,
    linear-gradient(
      45deg,
      #dfd5e5 0%,
      #ffffff72 25%,
      #ffffff8e 50%,
      #ffffff6c 75%,
      #ffffff85 100%
    );

  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px,
    530px 530px, 100% 100%;
  background-color: #fbe8ff;
}
.header-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.card-behind {
  position: absolute;
  width: 700px;
  height: 400px;
  background-color: rgba(195, 35, 253, 0.303);
  border: 2px solid #ffffff50;
  border-radius: 10px;
}
.card {
  position: absolute;
  width: 600px;
  height: 300px;
  background-color: #c44ff6c1 !important;
  color: #ffffff;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 20px;
  text-align: center;
}
.card-content {
  padding: 10px;
}
.card-title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(45deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px 10px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.329);
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.card-title:hover {
  transform: scale(1.05);
  color: #fff;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
}
.card-description {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin-bottom: 20px;
}
.macbook-header {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 90%;
  top: 95%;
  margin: -85px 0 0 -78px;
  perspective: 500px;
}

.shadow-header {
  position: absolute;
  width: 60px;
  height: 0px;
  left: 40px;
  top: 160px;
  transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0 0 60px 40px rgba(183, 0, 255, 0.3);
  animation: shadow infinite 7s ease;
}

.inner-header {
  z-index: 20;
  position: absolute;
  width: 150px;
  height: 96px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  animation: rotate infinite 7s ease;
}

.screen-header {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: #e0acf3;
  transform-style: preserve-3d;
  transform-origin: 50% 93px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  animation: lid-screen infinite 7s ease;
  background-image: linear-gradient(
    45deg,
    rgba(66, 0, 110, 0.34) 0%,
    rgba(152, 1, 172, 0.427) 100%
  );
  background-position: left bottom;
  background-size: 300px 300px;
  box-shadow: inset 0 3px 7px rgba(255, 255, 255, 0.5);
}

.screen-header .logo-header {
  position: absolute;
  width: 20px;
  height: 24px;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -10px;
  transform: rotateY(180deg) translateZ(0.1px);
}

.screen-header .face-one-header {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: #e0acf3;
  transform: translateZ(2px);
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.screen-header .face-one-header .camera-header {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #000;
  position: absolute;
  left: 50%;
  top: 4px;
  margin-left: -1.5px;
}

.screen-header .face-one-header .display-header {
  width: 130px;
  height: 74px;
  margin: 10px;
  background-color: #000;
  background-size: 100% 100%;
  border-radius: 1px;
  position: relative;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
}

.screen-header .face-one-header .display-header .shade-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  height: 74px;
  background: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 47%,
    rgba(255, 255, 255, 0) 48%
  );
  animation: screen-shade infinite 7s ease;
  background-size: 300px 200px;
  background-position: 0px 0px;
}

.screen-header .face-one-header .span-header {
  position: absolute;
  top: 85px;
  left: 57px;
  font-size: 6px;
  color: #000000;
}

.macbody-header {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  background: #e0acf3;
  transform-style: preserve-3d;
  transform-origin: 50% bottom;
  transform: rotateX(-90deg);
  animation: lid-macbody infinite 7s ease;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.macbody-header .face-one-header {
  width: 150px;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 7px;
  transform-style: preserve-3d;
  background: #e0acf3;
  animation: lid-keyboard-area infinite 7s ease;
  transform: translateZ(-2px);
  background-image: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.macbody-header .touchpad-header {
  width: 40px;
  height: 31px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 4px;
  margin: -44px 0 0 -18px;
  background: #bb02ff;
  background-image: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: inset 0 0 3px #888;
}

.macbody-header .keyboard-header {
  width: 130px;
  height: 45px;
  position: absolute;
  left: 7px;
  top: 41px;
  border-radius: 4px;
  transform-style: preserve-3d;
  background: #e0acf3;
  background-image: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: inset 0 0 3px #777;
  padding: 0 0 0 2px;
}

.keyboard-header .key {
  width: 6px;
  height: 6px;
  background: #303030;
  float: left;
  margin: 1px;
  transform: translateZ(-2px);
  border-radius: 2px;
  box-shadow: 0 -2px 0 #222;
  animation: keys infinite 7s ease;
}

.key.space {
  width: 45px;
}

.key.f {
  height: 3px;
}

.macbody-header .pad-header {
  width: 5px;
  height: 5px;
  background: #e8d9ed;
  border-radius: 100%;
  position: absolute;
}

.pad-header.one {
  left: 20px;
  top: 20px;
}

.pad-header.two {
  right: 20px;
  top: 20px;
}

.pad-header.three {
  right: 20px;
  bottom: 20px;
}

.pad-header.four {
  left: 20px;
  bottom: 20px;
}

@keyframes rotate {
  0% {
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  }

  5% {
    transform: rotateX(-20deg) rotateY(-20deg) rotateZ(0deg);
  }

  20% {
    transform: rotateX(30deg) rotateY(200deg) rotateZ(0deg);
  }

  25% {
    transform: rotateX(-60deg) rotateY(150deg) rotateZ(0deg);
  }

  60% {
    transform: rotateX(-20deg) rotateY(130deg) rotateZ(0deg);
  }

  65% {
    transform: rotateX(-20deg) rotateY(120deg) rotateZ(0deg);
  }

  80% {
    transform: rotateX(-20deg) rotateY(375deg) rotateZ(0deg);
  }

  85% {
    transform: rotateX(-20deg) rotateY(357deg) rotateZ(0deg);
  }

  87% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-20deg) rotateY(360deg) rotateZ(0deg);
  }
}

@keyframes lid-screen-header {
  0% {
    transform: rotateX(0deg);
    background-position: left bottom;
  }

  5% {
    transform: rotateX(50deg);
    background-position: left bottom;
  }

  20% {
    transform: rotateX(-90deg);
    background-position: -150px top;
  }

  25% {
    transform: rotateX(15deg);
    background-position: left bottom;
  }

  30% {
    transform: rotateX(-5deg);
    background-position: right top;
  }

  38% {
    transform: rotateX(5deg);
    background-position: right top;
  }

  48% {
    transform: rotateX(0deg);
    background-position: right top;
  }

  90% {
    transform: rotateX(0deg);
    background-position: right top;
  }

  100% {
    transform: rotateX(0deg);
    background-position: right center;
  }
}

@keyframes lid-macbody-header {
  0% {
    transform: rotateX(-90deg);
  }

  50% {
    transform: rotateX(-90deg);
  }

  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes lid-keyboard-area {
  0% {
    background-color: #dfdfdf;
  }

  50% {
    background-color: #bbb;
  }

  100% {
    background-color: #dfdfdf;
  }
}

@keyframes screen-header-shade-header {
  0% {
    background-position: -20px 0px;
  }

  5% {
    background-position: -40px 0px;
  }

  20% {
    background-position: 200px 0;
  }

  50% {
    background-position: -200px 0;
  }

  80% {
    background-position: 0px 0px;
  }

  85% {
    background-position: -30px 0;
  }

  90% {
    background-position: -20px 0;
  }

  100% {
    background-position: -20px 0px;
  }
}

@keyframes keys-header {
  0% {
    box-shadow: 0 -2px 0 #222;
  }

  5% {
    box-shadow: 1 -1px 0 #222;
  }

  20% {
    box-shadow: -1px 1px 0 #222;
  }

  25% {
    box-shadow: -1px 1px 0 #222;
  }

  60% {
    box-shadow: -1px 1px 0 #222;
  }

  80% {
    box-shadow: 0 -2px 0 #222;
  }

  85% {
    box-shadow: 0 -2px 0 #222;
  }

  87% {
    box-shadow: 0 -2px 0 #222;
  }

  100% {
    box-shadow: 0 -2px 0 #222;
  }
}

@keyframes shadow-header {
  0% {
    transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
  }

  5% {
    transform: rotateX(80deg) rotateY(10deg) rotateZ(0deg);
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
  }

  20% {
    transform: rotateX(30deg) rotateY(-20deg) rotateZ(-20deg);
    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.3);
  }

  25% {
    transform: rotateX(80deg) rotateY(-20deg) rotateZ(50deg);
    box-shadow: 0 0 35px 15px rgba(0, 0, 0, 0.1);
  }

  60% {
    transform: rotateX(80deg) rotateY(0deg) rotateZ(-50deg) translateX(30px);
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
  }

  100% {
    box-shadow: 0 0 60px 40px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 768px) {
  .container-header {
    background-size: 300px 300px, 700px 700px, 300px 300px, 500px 500px,
      400px 400px, 100% 100%;
    background-color: #fbe8ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-card {
    flex-direction: column;
    height: 100vh;
  }

  .card-behind {
    width: 70%;
    height: 250px;
    border: 1px solid #ffffff30;
  }

  .card {
    width: 85%;
    height: 200px;
    border-radius: 20px;
    padding: 15px;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .macbook-header {
    display: none;
  }
}

@media (max-width: 480px) {
  .container-header {
    background-size: 200px 200px, 500px 500px, 200px 200px, 300px 300px,
      250px 250px, 100% 100%;
  }

  .card {
    width: 60%;
    height: 180px;
    border-radius: 15px;
    padding: 10px;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-description {
    font-size: 0.8rem;
  }

  .macbook-header {
    display: none;
  }
}
