.me-img {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 600px;
  width: 100%;
}
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
}
.circle.left {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(45deg, #bc2bec, #f0e5f3);
  position: absolute;
  left: -175px;
  transform: translateY(80px);
}
.circle.center {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-image: url("/Home/img/mee.jpg");
  background-size: cover;
  background-position: start;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.circle.center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circle.right {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(45deg, #bc2bec, #f0e5f3);
  position: absolute;
  right: -150px;
  transform: translateY(-80px);
}
.info-box {
  position: absolute;
  top: 75%;
  left: 55%;
  width: 450px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.978);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #c105dad8;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.info-box p {
  margin: 1rem 1rem 1rem 1rem;
  font-size: 0.8rem;

  color: #000000;
  text-align: center;
}

@media (max-width: 768px) {
  .me-img {
    margin-top: 3rem;
    height: 400px;
  }

  .circle.left {
    width: 150px;
    height: 150px;
    left: -100px;
    transform: translateY(50px);
  }

  .circle.center {
    width: 300px;
    height: 300px;
    background-position: center;
  }

  .circle.right {
    width: 150px;
    height: 150px;
    right: -90px;
    transform: translateY(-50px);
  }

  .info-box {
    top: 90%;
    left: 65%;
    transform: translateX(-50%);
    width: 300px;
    height: 200px;
    border-width: 2px;
  }

  .info-box p {
    font-size: 0.5rem;
  }
}

@media (max-width: 480px) {
  .me-img {
    margin-top: 2rem;
    height: 300px;
  }

  .circle.left {
    width: 100px;
    height: 100px;
    left: -50px;
    transform: translateY(30px);
  }

  .circle.center {
    width: 200px;
    height: 200px;
    background-position: center;
  }

  .circle.right {
    width: 100px;
    height: 100px;
    right: -50px;
    transform: translateY(-30px);
  }

  .info-box {
    top: 90%;
    left: 65%;
    transform: translateX(-50%);
    width: 250px;
    height: 150px;
    border-width: 1px;
  }

  .info-box p {
    font-size: 0.4rem;
  }
}
