.navbar {
  background: radial-gradient(
        rgba(255, 225, 255, 0.2) 0%,
        rgba(200, 150, 255, 0.5) 30%,
        rgba(240, 200, 255, 0.6) 32%,
        rgba(255, 225, 255, 0) 33%
      )
      0 0,
    radial-gradient(
        rgba(255, 220, 255, 0.1) 0%,
        rgba(230, 150, 255, 0.4) 11%,
        rgba(240, 200, 255, 0.5) 13%,
        rgba(255, 225, 255, 0) 14%
      )
      0 0,
    radial-gradient(
        rgba(255, 210, 255, 0.15) 0%,
        rgba(220, 100, 240, 0.6) 17%,
        rgba(255, 200, 255, 0.8) 19%,
        rgba(255, 225, 255, 0) 20%
      )
      0 110px,
    radial-gradient(
        rgba(255, 210, 255, 0.2) 0%,
        rgba(210, 80, 220, 0.6) 11%,
        rgba(240, 200, 255, 0.8) 13%,
        rgba(255, 225, 255, 0) 14%
      ) -130px -170px,
    radial-gradient(
        rgba(255, 230, 255, 0.3) 0%,
        rgba(200, 100, 240, 0.7) 11%,
        rgba(240, 220, 255, 0.8) 13%,
        rgba(255, 230, 255, 0) 14%
      )
      130px 370px,
    linear-gradient(
      90deg,
      #e0b3ff 0%,
      #cf7cf872 25%,
      #cd4fff8e 50%,
      #b400e66c 75%,
      #9f00d485 100%
    );

  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px,
    530px 530px, 100% 100%;
  background-color: #fbe8ff;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff !important;
  text-shadow: 2px 2px 4px #6e1e9b;
}

.navbar-toggler {
  border: none;
  background-color: #b028ff;
  border-radius: 5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.offcanvas {
  background-color: #a64ac9;
  color: #fff;
}

.offcanvas-title {
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
}

.btn-close {
  color: #fff;
}
.nav-link {
  color: #f2d7ff !important;
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-link.active {
  color: #ffffff !important;
}
.nav-link:hover {
  color: #e0c3fc !important;
  text-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
