body {
  background: white !important;
}

#What-we-do-main {
  padding: 60px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.part-title {
  text-align: center;
  color: #d000ff;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.part-title.animate__animated.animate__backInLeft {
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
.part-paragraf {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-top: 8rem;
  margin-bottom: 80px;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.yaptiklerim-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 70px;
}

.yaptik-item {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.yaptik-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(121, 121, 121, 0.657);
}

.yaptik-info {
  margin-top: 15px;
}

.yaptik-title {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.yaptik-item i {
  color: #cc00ff;
}

@media (max-width: 768px) {
  .part-title {
    font-size: 2rem;
  }
  .part-paragraf {
    font-size: 1rem;
  }
  .yaptiklerim-content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}
